body {
    font-family: 'Open Sans', 'sans-serif';
    font-weight: 400;
    font-size: 16px;

}

.container {
    display: grid;
    align-content: center;
    grid-template-columns: 1200px;
    justify-content: center;
}

.shortestpath {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "main__header main__header"
    "article aside";    
}

.header {
    grid-area: main__header;
}

.graph {
    grid-area: article;
}

.settings {
    grid-area: aside;
}

.wrapper-settings {
    background: #f6f6f6;
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "settings__header settings__header"
    "isdirected-label isdirected-label"
    "btn-find btn-remove"
    "path-info path-info"
    "btn-showpath btn-showpath";
    padding: 1em;
}

.wrapper-settings__header {
    grid-area: settings__header;
    justify-self: center;
}

.isdirected {
    grid-area: isdirected-label;
}

.btn {
    border: 1px solid gray;
    border-radius: 0;
    padding: 0.5em 1em;
    font-family: 'Open Sans', 'sans-serif';
    font-size: 1em;
    font-weight: 400;
}

.btn:hover {
    opacity: 0.7;
}

.btn:active {
    opacity: 1;
}

.btn__find {
    grid-area: btn-find;
    justify-self: start;
    color: #f6f6f6;
    background-color: #04BD00;
}

.btn__remove {
    grid-area: btn-remove;
    justify-self: start;
    color: #f6f6f6;
    background-color: #F59C00;
}

.path-info {
    grid-area: path-info;
}

.btn__showpath {
    grid-area: btn-showpath;
    justify-self: start;
    background-color: #C4C4C4;
}

#mynetwork {
    position: relative;
    width: 800px;
    height: 600px;
    border: 1px solid lightgray;
}

table.legend_table {
    font-size: 11px;
    border-width: 1px;
    border-color: #d3d3d3;
    border-style: solid;
}

table.legend_table,
td {
    border-width: 1px;
    border-color: #d3d3d3;
    border-style: solid;
    padding: 2px;
}

div.table_content {
    width: 80px;
    text-align: center;
}

div.table_description {
    width: 100px;
}

#operation {
    font-size: 28px;
}

#node-popUp {
    display: none;
    position: absolute;
    top: 350px;
    left: 170px;
    z-index: 299;
    width: 250px;
    height: 120px;
    background-color: #f9f9f9;
    border-style: solid;
    border-width: 3px;
    border-color: #5394ed;
    padding: 10px;
    text-align: center;
}

#edge-popUp {
    display: none;
    position: absolute;
    top: 350px;
    left: 170px;
    z-index: 299;
    width: 250px;
    height: 90px;
    background-color: #f9f9f9;
    border-style: solid;
    border-width: 3px;
    border-color: #5394ed;
    padding: 10px;
    text-align: center;
}

.locale {
    display: none;
}
